{% extends "base_generic.html" %}

{% block content %}

<h1>Charts</h1>
<canvas id="temperature_chart" width="40" height="16"></canvas>

{% endblock content %}


<script>
{% block script %}

var endpoint = '/api/data/'

var time_data = []
var temperature_data = []
var pollution_data = []
var humidity_data = []


$.ajax({
    // Get measurements from API
    method: "GET", 
    url: endpoint,
    success: function(data){
        console.log(data);
        
        getChartDatas(data)
        setCharts(data)
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function getChartDatas(data){
    // Limits datapoints to n
    var n = 30
    if (data.data.length < n){
        n = data.data.length
    }

    for (i = 0; i < n; i++) {
        time_data.push(data.data[i].date)
        temperature_data.push(data.data[i].temperature)
    }
}

function setCharts(data){
    setTempChart(data)
}

function setTempChart(){
    var ctx = document.getElementById("temperature_chart");
    var colours = temperature_data.map((value) => value < 25 ? 'green' : 'red');

    var temperature_chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: time_data,
            datasets: [{
                label: 'Temperature (Warning at 25 Celsius)',
                data: temperature_data,
                pointBorderColor: colours,
                pointBackgroundColor: colours,
                borderColor: 'rgb(75, 192, 192)',
                fill: false,
                lineTension: 0.1,
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        suggestedMin: 10,
                        suggestedMax: 36,
                    }
                }],
                xAxes: [{
                    ticks: {
                        source: 'data',
                    },
                    type: 'time',
                    bounds: 'ticks',
                    // data is spread at the same distance from each other, not according to time
                    distribution: 'series',
                    time: {
                        unit: 'second',
                        displayFormats: {
                            'second': 'DD/MM/YY - HH:mm:ss',
                            'minute': 'hh:mm',
                            'hour': 'DD - hh:mm',
                            'day': 'DD.MM - hh',
                        }
                    }
                }]
            }
        }
    });
}


{% endblock script %}
</script>

