{% extends "base_generic.html" %}

{% block nav-bar %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'index' %}">Home</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'charts' %}">Charts</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'all_devices' %}">Devices</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'data_table' %}">Incoming Data</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'warnings' %}">Alarms</a>
</li>
{% endblock nav-bar %}


{% block content %}
<h1>Charts</h1>
<canvas id="temperature_chart" width="40" height="18"></canvas>
<canvas id="humidity_chart" width="40" height="18"></canvas>

{% endblock content %}


<script>
{% block script %}

var endpoint = '/api/data/'

var time_data = []

var temperature_data = []
var humidity_data = []
var pollution_data = []

var charts = []

$.when(
    $.ajax({
        // Get measurement data from API
        method: "GET", 
        url: endpoint,
        success: function(data){
            getChartDatas(data)
            setCharts(data)
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })
// When the first setup is done, keep updating with setInterval
).then(function() {
    setInterval(function() {
        $.ajax({
            method: "GET", 
            url: endpoint,
            success: function(data) {
                // start updating if newest time is not the same we already have
                if (charts[0].data.labels[0] != data.data[0].date) {
                    // update time
                    time_data.unshift(data.data[0].date)
                    if (time_data.length > 60) { 
                        time_data.pop()
                    }
                    // update charts
                    for (var i in charts) {
                        updateChart(charts[i], data)
                    }
                }
            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        })
    }, 1000) // update interval in milliseconds
})


function getChartDatas(data){
    // Limits datapoints to n
    var n = 60
    if (data.data.length < n){
        n = data.data.length
    }

    for (i = 0; i < n; i++) {
        time_data.push(data.data[i].date)
        temperature_data.push(data.data[i].temperature)
        humidity_data.push(data.data[i].humidity)
        pollution_data.push(data.data[i].pollution)
    }
}


function setCharts(data){
    temperature_chart = setTempChart(data)
    humidity_chart = setHumidityChart(data)


    charts.push(humidity_chart, temperature_chart)
}

function setHumidityChart(data){
    var ctx = document.getElementById("humidity_chart");

    var data = {
        labels: time_data,
        datasets: [{
            name: 'humidity',
            data: humidity_data,
            borderColor: 'rgb(75, 192, 192)',
            fill: false,
            lineTension: 0, // 0: draw straight lines
            pointRadius: 0,
        }]
    }

    var options = {
        legend: {
            display: false,
        },
        title: {
            display: true,
            text: 'Relative humidity',
            fontSize: 16,
        },
        scales: {
            yAxes: [{
                ticks: {
                    suggestedMin: 0,
                    max: 100,
                },
                scaleLabel: {
                    display: true,
                    labelString: 'Percentage'
                },
            }],
            xAxes: [{
                ticks: {
                    autoSkip: true,
                    autoSkipPadding: 20,
                },
                type: 'time',
                time: {
                    unit: 'minute',
                    tooltipFormat: 'DD/MM/YY - HH:mm:ss',
                    displayFormats: {
                        'minute': 'DD/MM - HH:mm',
                    }
                }
            }]
        }
    }

    var humidity_chart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: options,
    })

    return humidity_chart
}

function setTempChart(data){
    var ctx = document.getElementById("temperature_chart");
    var warningPointRadius = temperature_data.map((value) => value < 20 ? 0 : 4);
    
    var data = {
        labels: time_data,
        datasets: [{
            name: 'temperature',
            data: temperature_data,
            //pointBorderColor: colours,
            pointBackgroundColor: 'red',
            fill: false,
            lineTension: 0,
            pointRadius: warningPointRadius,
        }]
    }

    var options = {
        responsive: true,
        legend: {
            display: false,
        },
        title: {
            display: true,
            text: 'Temperature (Warning at 25 Celsius)',
            fontSize: 16,
        },
        scales: {
            yAxes: [{
                ticks: {
                    suggestedMin: 10,
                    suggestedMax: 30,
                },
                scaleLabel: {
                    display: true,
                    labelString: 'Degree Celsius'
                },
            }],
            xAxes: [{
                ticks: {
                    autoSkip: true,
                    autoSkipPadding: 20,
                    // maxTickLimit: 4,
                },
                type: 'time',
                time: {
                    unit: 'minute',
                    tooltipFormat: 'DD/MM/YY - HH:mm:ss',
                    displayFormats: {
                        'minute': 'DD/MM - HH:mm',
                    }
                }
            }]
        }
    }

    var temperature_chart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: options,
    })

    return temperature_chart
}


function updateChart(chart, data) {
        // forEach is for multiple graphs in same chart
        chart.data.datasets.forEach((dataset) => {
            if (dataset.name == 'temperature') {
                // update measurements
                dataset.data.unshift(data.data[0].temperature)
                if (dataset.data.length > 60) { 
                    dataset.data.pop()
                }
                // update limit colors
                var warningPointRadius = temperature_data.map((value) => value < 20 ? 0 : 4);
                dataset.pointRadius = warningPointRadius
            }
            else if (dataset.name == 'humidity') {
                // update measurements
                dataset.data.unshift(data.data[0].humidity)
                if (dataset.data.length > 60) { 
                    dataset.data.pop()
                }
            }
        })

        chart.update(0) // 0 disables animation
}


{% endblock script %}
</script>

