{% extends "base_generic.html" %}

    {% block content %}
    <table id="data_table1" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Device</th>
                <th>Device info</th>
                <th>Time</th>
                <th>Temp</th>
                <th>Dust</th>
                <th>Humidity</th>
                <th>Light</th>
                
            </tr>
        </thead>
        <tbody>
            {% if data_object %}
                
                    <tr>
                        <td>{{ data_object.device.id }}</td>
                        <td>{{ data_object.device.info }}</td>
                        <td>{{ data_object.collection_date }}</td>
                        <td>{{ data_object.temperature }}</td>
                        <td>{{ data_object.dust }}</td>
                        <td>{{ data_object.humidity }}</td>
                        <td>{{ data_object.light }}</td>
                    </tr>
                
            {% endif %}

            
            
              
        </tbody>
    </table>

    {% endblock content %}

    <script>
    {% block script %}

        //This ajax script updates data_table1 in data_table.html static 5s intervals
        //This isn't really thrustworthy implementation, having random generated ids    
        var ajax_id = Math.floor(Math.random() * 1000);

        setInterval(function() {
            
            $.ajax({
                type: "GET",
                url: {% url 'update_data_table' %},  // URL to the view that updates data_table1
                data : {
                   "ajax_id" : ajax_id
                }
                                
            })
            .done(function(response) {
                $('#data_table1').append(response);
            
            });

            
        }, 1000);

    {% endblock %}
    </script>


