{% extends "base_generic.html" %}


{% block content %}

	<!-- https://getbootstrap.com/docs/4.0/components/input-group/ -->

	
	<div id="table_data">
		<table id="data_table1" class="display" cellspacing="0" width="100%">
	        <thead>
	            <tr>
	                <th>Device</th>
	                <th>Device info</th>
	                <!--<th>Description</th>-->
	                <th>Time</th>
	                <th>Temperature (&#8451)</th>
	                <th>Dust (pcs. &sol; 0.5 dl)</th>
	                <th>Humidity (&percnt;)</th>
	                <th>Light</th>
	            </tr>
	        </thead>
	        <tbody>
	            {% if latest_data_list %}
	                {% for data in latest_data_list %}
	                    <tr>
	                        <td>{{ data.device.id }}</td>
	                        <td>{{ data.device.info }}</td>
	                        <!--<td>{{ data.device.user_notes }}</td>-->
	                        <td>{{ data.collection_date }}</td>
	                        <td>{{ data.temperature }}</td>
	                        <td>{{ data.dust }}</td>
	                        <td>{{ data.humidity }}</td>
	                        <td>{{ data.light }}</td>

	                    </tr>
	                {% endfor %}
	            {% endif %}

	            
	            
	              
	        </tbody>
	    </table>
	</div>

	<div>
		<br />
		<br />
		<br />
		<form action="{% url 'update_info' %}" method="POST"> 
		  Device Description: <b>{{ device.user_notes }}</b><br>
		  <br />
		  <input type="text" name="info" value="" class="form-control" placeholder="Set description" aria-label="Set description" aria-describedby="basic-addon2">
		  <input type="hidden" value="{{id}}" name="device_id"/>
		  <input type="hidden" value="{{num}}" name="num"/>
		  <!--<input type="hidden" value="{{device}}" name="device"/>-->
		  <br>
		  
		  <input type="submit" value="Submit">
		  {% csrf_token %} 
		</form> 
	</div>

	<!--<div class="input-group mb-3">

		  <input type="text" id="user_info" class="form-control" placeholder="Set general info" aria-label="Set general info" aria-describedby="basic-addon2">
		  <div class="input-group-append">
		    <button class="btn btn-outline-secondary" id="set_button" type="button">Set</button>
		  </div>
	</div> -->

	<form action="{% url 'update_select' %}" method="POST">
		{% csrf_token %} 
		<br />
		<br />
		<br />
		<div class="form-row align-items-center">
		    <div class="col-auto my-1">
	    	
		    	<label class="mr-sm-2" for="inlineFormCustomSelect">Data points</label>
		      	<select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="select_value">
			        <option selected>Choose...</option>
			        <option value="1">1</option>
			        <option value="3">3</option>
			        <option value="5">5</option>
			        <option value="10">10</option>
			        <option value="20">20</option>
			        <option value="50">50</option>
			        <option value="100">100</option>
		      	</select>
				  
		    </div>
		    <div class="col-auto my-1">
		      <div class="custom-control custom-checkbox mr-sm-2">
		        <input type="checkbox" class="custom-control-input" id="customControlAutosizing" name="state" value="True">
		        <input type="hidden" value="{{id}}" name="device_id"/>
		        <label class="custom-control-label" for="customControlAutosizing">Remember my preference</label>
		      </div>
		    </div>
		    <div class="col-auto my-1">
		      <button type="submit" class="btn btn-primary">Submit</button>
		    </div>
		</div>
	</form>

{% endblock content %}

<script>
	{% block script %}
    // This ajax script updates device table in the div static 1s intervals

    	var id = "{{id}}";
    	var num = "{{num}}";
        setInterval(function() {
            
            $.ajax({
                type: "GET",
                url: {% url 'devices_refresh' %},  // URL to the view that updates the table
       			data : {
                   "device_id" : id,
                   "datapoints" : num
                }
                                
            })
            .done(function(response) {
                $('#table_data').html(response);
            
            });

            
        }, 1000)

    {% endblock %}
</script>


