<table id="data_table1" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Device</th>
                <th>Device info</th>
                <!--<th>Description</th>-->
                <th>Time</th>
                <th>Temperature</th>
                <th>Dust</th>
                <th>Humidity</th>
                <th>Light</th>
            </tr>
    </thead>
    <tbody>
        {% if latest_data_list %}
            {% for data in latest_data_list %}
                <tr>
                    <td>{{ data.device.id }}</td>
                    <td>{{ data.device.info }}</td>
                    <!--<td>{{ data.device.user_notes }}</td>-->
                    <td>{{ data.collection_date }}</td>
                    <td>{{ data.temperature }}</td>
                    <td>{{ data.dust }}</td>
                    <td>{{ data.humidity }}</td>
                    <td>{{ data.light }}</td>

                </tr>
            {% endfor %}
        {% endif %}

	            
	            
	              
    </tbody>
</table>