{% extends 'base_generic.html' %}

{% block content %}
<h2 align="center"> Remove emails</h2>

<br/>
<br/>
<br/>

<nav class="nav nav-pills">
  <a class="nav-item nav-link" href="{% url 'add_emails' %}">Add emails</a>
  <a class="nav-item nav-link active" href="{% url 'remove_emails' %}">Remove emails</a>
</nav>
<br/>
<br/>


  {% if emails %}
    
    	
      	{% for email in emails %}
        <form action="{% url 'remove_email' %}" method="POST">
        	{% csrf_token %} 
	        <br> <font color='blue'>{{email.address}}</font>
	          <input class="button" type="hidden" value="{{email.address}}" name="email_address">
	          <input class="button" style="float: right;" type="submit" value="Delete email">
	      	</br>
      	</form>
      
      	{% endfor %}
    
  {% else %}
     <li class="list-group-item list-group-item-standard">No emails added yet</li>
  {% endif %}


{% endblock content %}