{% extends 'base_generic.html' %}

{% block nav-bar %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'index' %}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'charts' %}">Charts</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'all_devices' %}">Devices</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'data_table' %}">Incoming Data</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'warnings' %}">Warnings</a>
</li>
{% endblock nav-bar %}

{% block content %}

<!-- check out https://getbootstrap.com/docs/4.0/components/ -->


<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   	Configure warning emails
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="{% url 'add_emails' %}">Add emails</a>
    <a class="dropdown-item" href="#">Delete emails</a>
    
  </div>
</div>

{% endblock content %}